# SERVER SETTING
NEXT_PUBLIC_TMDB_BASE_URL = "http://localhost:3000/api/tmdb/"

# TMDB API
NEXT_PUBLIC_TMDB_API_BASE_URL="https://api.themoviedb.org/3"
NEXT_PUBLIC_TMDB_API_KEY_NAME="api_key"
NEXT_PUBLIC_TMDB_API_KEY_VALUE="XXX"

###general settings
#MV|TV lists
NEXT_PUBLIC_LIST_SCROLL_OFFSET_Y = 300 
NEXT_PUBLIC_LIST_ADD_DELAY = 50
NEXT_PUBLIC_LIST_ADD_COUNT = 2
NEXT_PUBLIC_LIST_HIDDEN_GENRES = ''
NEXT_PUBLIC_LIST_ORIGINAL_LANGUAGES = 'en|cs|ja|vi|zh|fr|ko|de|af|hr|da|et|fi|is|it|kn|kg|ru|rm|sv|tr|uk|sw|lt'

#Component loading
NEXT_PUBLIC_LOADING_MARGIN = '1280px 0px 280px 0px'
NEXT_PUBLIC_LOADING_THRESHOLD = 0