.footer {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1a1e21;
    padding: 0 15pt 0 15pt;
    max-width: 100%;
    width: 100vw;
}

.footer_content {
    max-width: 1000px;
    padding-bottom: 2rem;
}

.logoContainer {
    display: block;
    text-align: center;
}

.footerNav a {
    display: block;
    color: white;
    text-decoration: none;
}

.footerNav a:hover {
    color: white;
    text-decoration: underline;
}

.copyright {
    display: flex;
    color: white;
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 120px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    padding-left: 3pt;
    padding-right: 3pt;
}

.copyright>* {
    padding: 5pt;
}

.buyMeACoffeeDonate {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 480px) {
    .footerNav {
        flex-direction: column;
    }

    .footerNav div {
        padding-bottom: 20pt;
    }
}


@media only screen and (max-width: 960px) {
    .footerNav {
        font-size: 1em;
    }

    .footer__content__menus {
        grid-template-columns: repeat(2, 1fr);
    }
}