.footer {
position: relative;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
margin-top: 25pt;
left: 0;
right: 0;
bottom: 0;
}

.footer_content {
    max-width: 1000px;
    padding-bottom: 2rem;
}

.copyright {
    display: flex;
    color: white;
    background-color: #1a1e21;
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.copyright > * {
    padding: 5pt;
}

.buyMeACoffeeDonate {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 960px) {
    .footer__content__menus {
        grid-template-columns: repeat(2, 1fr);
    } 
}