.mvtvTitle {
    display: inline-block;
    position: relative;
}

.multiSearchContent {
    display: none;
}

.multiSearchContent.active {
    display: flex !important;
    background: rgba(0, 0, 0, .95);
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.multiSearchContent .content {
    z-index: 1;
    transition: all 0.5s ease;
}

.multiSearchContent .fullscreen {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    top: 45%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    position: absolute;
    opacity: 1;
    z-index: 99;
}

.multiSearchContent form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchBox {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    top: 25px;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    color: white;
    background: 0px center;
    opacity: 1;
    grid-area: 1 / 2 / auto / auto;
    font: inherit;
    width: 50%;
    min-width: 120px;
    outline: 0;
}

.searchInput:focus {
    border: 1px solid #0d6efd;
}

.searchContentClose {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: white;
    z-index: 99;
}

.movieGrid {
    transition: all 2s ease;
    opacity: 1;
    margin-bottom: 3rem;
    overflow-y: scroll;
    height: 80%;
    padding: 0 10pt 0 10pt;
    opacity: 1;
}

.movieGrid .mediaGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movieGrid .peopleGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.movieGrid.empty {
    transition: all 2s ease;
    opacity: 0;
}

@media only screen and (max-width: 325px) {
    .movieGrid .peopleGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .searchContentClose {
        margin: 1.5rem !important;
    }

    .searchInput {
        width: 75%;
    }

    .multiSearchContent {
        padding: 5pt;
    }

    .movieGrid .mediaGrid {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }

    .movieGrid .peopleGrid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

}

@media only screen and (max-width: 960px) {}

@media (min-width:961px) and (max-width: 1024px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) and (max-width: 1280px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}