.signupContainer {
    min-height: 100vh;
    padding: 100pt 30pt;
}

.signupContainer .formSection {
    display: flex;
    flex-direction: column;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.signupContainer small{
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.signupContainer input:disabled {
    color: #c0c0c0;
    cursor: not-allowed;
}

.signup_bac::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    transition: .5s ease;
}

.signup_bac {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.signupContent {
    background-color: rgba(24, 24, 24, 0.975);
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    padding: 20pt 40pt;
    max-width: 550px;
}

.signupContent .social button {
    list-style: none;
    text-decoration: none;
    color: white;
}

.signupContent .social button:hover {
    color: #dfdfdf;
}

.signupContent h2 {
    font-size: 1.15em;
    color: #dfdfdf;
}

.signupContent button,
.registerContent button {
    font-weight: bold;
}

.registerContent {
    background-color: rgba(24, 24, 24, 0.975);
    color: white;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 960px) {
    .signupContent {
        width: 100% !important;
        min-width: 250px;
        border-radius: 5px 5px 0 0 !important;
    }

    .signupContent .inputGroup {
        flex-direction: column;
    }

    .registerContent {
        width: 100% !important;
        min-width: 250px;
        border-radius: 0px 0px 5px 5px !important;
    }
}